body {
  font-family: Arial;
  padding: 40px;
}

textarea {
  width: 300px;
  height: 100px;
}

button {
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.ticket {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
}